# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
!.env.example

# File uploads (ephemeral local storage)
/uploads/
/temp/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database (Local SQLite if any)
/prisma/*.db
/prisma/*.db-journal

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
